# files used for testing
index.html
note.jpeg
/favicon.ico
static_in_root.md
page_01.md
page_02.md
page_03.md
documentation_from_md.html
/00_index.html
test_files/
madoc_dist/
.venv/

__pycache__/
*.pyc
*.madoc.html
build/
dist/
madoc.egg-info/
madoc/__pycache__/